<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow induction-card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Induction</h5>
                </div>
                <img src="../../../assets/csm-logo/Induction_img.jfif" class="card-img-top" alt="Induction Image"
                    style="width: 100%; height: 150px;">
                <div class="card-body">
                    <!-- Content for Induction component -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow kt-card">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">KT</h5>
                </div>
                <img src="../../../assets/csm-logo/KT_img.jfif" class="card-img-top" alt="KT Image"
                    style="width: 100%; height: 150px;">
                <div class="card-body">
                    <!-- Content for KT component -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow training-card">
                <div class="card-header bg-warning text-white">
                    <h5 class="mb-0">Training</h5>
                </div>
                <img src="../../../assets/csm-logo/Traing_img.jpg" class="card-img-top" alt="Training Image"
                    style="width: 100%; height:150px;">
                <div class="card-body">
                    <!-- Content for Training component -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow workshop-card">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Workshop</h5>
                </div>
                <img src="../../../assets/csm-logo/Workshop_img.jpg" class="card-img-top" alt="Workshop Image"
                    style="width: 100%; height: 150px;">
                <div class="card-body">
                    <!-- Content for Workshop component -->
                </div>
            </div>
        </div>
    </div>
</div>