<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <span class="fs-5 d-none d-sm-inline"><img src="../../../assets/csm-logo/csm logo.jpg" height="90px" weight="auto"></span>
        </div>

        <ul class="list-unstyled components" id="menu">
            <!-- <li class="nav-item">
                <a (click)="toggleHomeContent()" class="nav-link">Home</a>
            </li> -->
            <li class="">
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink" >
                     
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Induction</span>
                </a>
                <ul class="collapse " id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a routerLink="" class="nav-link"> <span class="d-none d-sm-inline">Add Induction</span></a>
                    </li>
                    <li>
                        <a routerLink="" class="nav-link "> <span class="d-none d-sm-inline">View Induction</span></a>
                    </li>
                </ul>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">KT</span> </a>
                <ul class="collapse " id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link " routerLink="/admin/add-kt"> <span class="d-none d-sm-inline">Add KT</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link " routerLink="/admin/view-kt"> <span class="d-none d-sm-inline">View KT</span></a>
                    </li>
                </ul>

                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink" >
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Training</span> 
                </a>
                <ul class="collapse " id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#submenu3-general" data-bs-toggle="collapse" class="nav-link dropdown dropdown-toggle "> <span class="d-none d-sm-inline">General</span> </a>
                        <ul class="collapse" id="submenu3-general">
                            <li>
                                <a href="#" class="nav-link"> <span class="d-none d-sm-inline">Technical</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link"> <span class="d-none d-sm-inline">Non-Technical</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link "> <span class="d-none d-sm-inline">Soft Skill</span>  </a>
                    </li>
                </ul>

                <a href="#submenu4" data-bs-toggle="collapse" class="nav-link dropdown align-middle dropdown-toggle sidebar-navlink">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Resource Management</span>
                </a>

                <ul class="collapse " id="submenu4" data-bs-parent="#menu">

                    <li class="w-100">

                        <a routerLink="/admin/add-resource" class="nav-link"> <span class="d-none d-sm-inline">Add Resource Management</span></a>

                    </li>

                    <li>

                        <a routerLink="/admin/view-resource" class="nav-link "> <span class="d-none d-sm-inline">View Resource Management</span></a>

                    </li>

                </ul>


            </li>
        </ul>

    
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><span class="h4 font-weight-bold" style="color:#108fbb;">Learning Management System</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <img src=""  width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">
                                    {{ username }}
                                  </span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" (click)="logout()">Log Out</a>
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </nav>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>