<div class="container mt-5">
    
    <br>
    <div class="row">
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>KT Name</th>
                    <th>KT Type</th>
                    <th>KT Format</th>
                    <th>KT File</th>
                    <th>Project Name</th>
                    <th>Designation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
        <tr *ngFor="let kt of ktList | paginate :{
            itemsPerPage : tableSize,
            currentPage : page ,
            totalItems: count
            }; let i = index;">
        <td>{{i+1}}</td>
        <td>{{kt.KT_NAME}}</td>
        <td>{{kt.SUB_MODULE_NAME}}</td>
        <td>{{kt.KT_FORMAT}}</td>
         <td><a target="_blank"  href="{{viewFileUrl}}/{{kt.KT_PATH}}" class="btn btn-md btn-success"> <i class="bi bi-arrow-down-square-fill"></i></a></td>
         <td>{{kt.PROJECT_NAME}}</td>
         <td>{{kt.DESGN_NAME != null ? kt.DESGN_NAME : "--"}}</td>
         <td>
            <button type="submit" (click)="editKt(kt.KT_ID)" class="btn btn-primary">Edit</button>
            <button type="submit" (click)="deleteKt(kt.KT_ID)" class="btn btn-danger">Delete</button>
        </td>
        </tr>
            </tbody>
          </table>
        
          <div class="d-flex justify-content-end">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)= "getTableDataChange($event)"></pagination-controls>
          </div>
    </div>
    </div>